<!-- <h3>Add a book</h3>

<form action="/books/new" method="post">

  <label for="doctor_name">Name of the Doctor:</label>
  <input id="doctor_name" name="doctor_name" type="text">

  <label for="specialty">Specialty:</label>
  <input id="specialty" name="specialty" type="text">

  <button type="submit">Add Doctor</button>
</form>

<hr>

<div class="container">
  <a href="/"><button class="btn">Home</a>
  <a href="/doctors"><button class="btn">View All Doctors</a>
  <a href="/doctors/new"><button class="btn">Add New Doctor</a>
  <a href="/patient/new"><button class="btn">Add New Patient</a>
</div> -->
