<h1><%=@book.title() %></h1>


<h2>Author: <%=@book.author().author_name()%></h2>

<form action="/books/update/<%=@book.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="title">New title:</label>
  <input id="title" name="title" type="text"></br>

<br>
<button class="btn">Update Book</button><br>

</form>

<a href="/">Home</a>
