<h1>Welcome to the Library</h1>

<h3>Create a new book:</h3>

<form action="/books" method="post">
  <label for="title">Add title to book:</label>
  <input id="title" name="title" type="text"></br>

  <label for="author_id">Name of the author: </label>
  <input id="author_id" name="author_id" type="text"></br>
<br>
  <button type="submit">Add Book</button>
</form>

<br>

<% if @books.any?() %>
<p>Click on a book to see its authors or update information:</p>

<ul>
  <% @books.each do |book| %>
  <li><a href="/books/<%= book.id() %>"><%= book.title() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no books yet!</p>
<% end %>

<br>
<form action="/books/delete/" method="post">
  <input name="_method" type="hidden" value="delete">

  <label for="book_id">Delete a Book</label>
  <select id='book_id' name='book_id' type='text'>
    <% @books.each() do |book| %>
    <option value="<%= book.id()%>"> <%= book.title() %> </option>
    <% end %>
  </select>

  <button class="btn">Delete</button>
</form>

<p><a href="/patrons">View Patrons</a></p>

<a href="/">Home</a>
