<h1>Welcome to the Patron page</h1>

<p>Add a patron to the database:</p>

<form action="/patrons" method="post">
  <label for="patron_name">Patron's name:</label>
  <input id="patron_name" name="patron_name" type="text">

  <button type="submit">Add patron</button>
</form>


<% if @patrons.any?() %>
  <p>Click on a patron to see information about them and to checkout books to them:</p>

  <ul>
    <% @patrons.each do |patron| %>
      <li><a href="/patrons/<%= patron.id() %>"><%= patron.patron_name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no patrons added yet!</p>
<% end %>

<p><a href="/books">See all books</a></p>

<p><a href="/">Return to Main Page</a></p>
